doc/_build
build/
execnet.egg-info/
execnet/_version.py
dist/
.pytest_cache/
.eggs/
*.pyc
*$py.class
*.orig
*~
*.swp
.tox
lib/
bin/
include/
.Python
.env/
.cache/
.vagrant/
.vagrant.d/
.config/
.local/
