repos:
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==25.11.0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [ --fix ]
        exclude: "^doc/"
      - id: ruff-format
-   repo: https://github.com/PyCQA/doc8
    rev: 'v2.0.0'
    hooks:
    -   id: doc8
        args: ["--ignore", "D001"]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'
    hooks:
    -   id: mypy
        additional_dependencies:
          - pytest
          - types-pywin32
          - types-gevent
