repos:
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==22.12.0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-yaml
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        args: [ --fix ]
        exclude: "^doc/"
      - id: ruff-format
-   repo: https://github.com/PyCQA/doc8
    rev: 'v1.1.1'
    hooks:
    -   id: doc8
        args: ["--ignore", "D001"]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.9.0'
    hooks:
    -   id: mypy
        additional_dependencies:
          - pytest
          - types-pywin32
          - types-gevent
